/* style 1 for destop: Trên web (độ rộng vùng hiển thị >= 992px): hiện dạng 3 cột*/
.menu_top{
    text-transform: uppercase;
    background-color: white;
    font-size: 100%;
    color: rgb(61, 61, 61);
    height:auto;
    margin:0;
}
ul li a{
    color: rgb(61, 61, 61);
}
.menu_top_ul_li{
    padding: 10px 20px 10px 20px;
}
.menu_top_ul:first-child{
    padding: 10px 20px 10px 0px;
}
.box{
    padding: 5% 10% 0 5%;
}
.box.background{
    min-width: 700px;
    height:400px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png);
    background-repeat: no-repeat;
    color: white;
    box-sizing:border-box;
    margin:0;
}
.box.background p{
    color:white;
    font-size: 120%;
}
div.main_tablet{
    display:none;
}
.main_destop{
    padding: 10px 5% 10px 5%;
    display:flex;
}
.main_destop_4{
    width:66%;
    height:auto;
    margin:0;
}
.img{
    padding: 20px 20px 20px 0px;
    width: 46%;
    height:auto;
    box-sizing:content-box;
}
.main_destop_1{
    width: 33%;
    height:auto;
    margin: 0;
}
.img_1{
    padding: 20px 20px 20px 0px;
    width: 98%;
    height:auto;
    box-sizing:content-box;
}
.footer{
    display:flex;
}
.footer_item{
    padding: 20px 20px 0px 0px;
}
